beautifulsoup4==4.12.3
faiss-cpu==1.7.4
faiss-gpu==1.7.2
langchain==0.1.1
langchain-cli==0.0.21
langchain-community==0.0.19
langchain-core==0.1.22
langchain-google-genai==0.0.6
langchain-openai==0.0.5
langchainhub==0.1.14
langcodes==3.3.0
langgraph==0.0.23
langserve==0.0.41
langsmith==0.0.87
ollama==0.1.6
ollama-haystack==0.0.3
